.jumbotron{

background-repeat:no-repeat;"
}



#home{
margin: 200px;
	

position: relative;

}






#headtitle{
opacity: 0.6;

	color: black;
background-color: white;
display:inline;
font-size: 100px;
text-shadow: 0;
mix-blend-mode: overlay;
}


.footer-copyright{
text-align: center;
background-color: #808080;
color: white;
position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */

}

.intro{
background-image: url("assets/images/canales2.jpg");
  text-align: center;
margin-top: 10px;

}


/* about*/



 




.aboutpage{
margin-left:auto;
margin-right:auto;
height: 90%;
background-color: black;
 line-height: 1.4em;
 width: 90%;
  max-width: 960px;
text-align: center;
   font-size: 20px;
    padding: 25px;
        color: white;
top: 40px;

position: relative;
opacity: 0.5;
    filter: alpha(opacity=50);
border-style: ridge;

}




#truck1{


height: 300px;
width: 75%;
padding: 25px;
margin-bottom: 20px;
 
  
}
.champtitle{
top: 50px;
  
   height: 350px;
color: white;
background-color: black;
   position: relative;
text-align: center;
font-size: 25px;
margin-left:auto;
margin-right:auto;
margin-top:25px;
 margin-bottom: 100px;
 width: 50%;
  border-style: ridge;

}

/** service **/

#trucks{
width: 500px;
height: 300px;
top: 50px;
position: relative;

margin : 43px;
}
.contacts{
height: 90%;
background-color: blue;
 line-height: 1.4em;
 width: 60%;
  max-width: 960px;
text-align: center;
   font-size: 20px;
    padding: 25px;
    margin: 25px;
    color: white;

margin-top: 50px;
margin-left:auto;
margin-right:auto;
opacity: 0.5;
    filter: alpha(opacity=50);
    border-style: ridge;
position: relative;
}
.services{
height: 80%;
background-color: red;
 line-height: 1.4em;
 width: 60%;
  max-width: 960px;
text-align: center;
   font-size: 20px;
    padding: 25px;
    margin: 25px;
    color: white;
border-style: ridge;
margin-top: 50px;
margin-left:auto;
margin-right:auto;
opacity: 0.5;
    filter: alpha(opacity=50);
position:relative;

}