#home{
margin: 200px;
	

position: relative;

}


.oval {
	width: 200px;
	height: 100px;
	background: blue;
	color: white;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	margin: 30px;
 	border-radius: 100px / 50px;
font-size: 50PX;
    text-align: center;
    padding: 10px;
top:20px;
position: relative;
}



#headtitle{
opacity: 0.6;

	color: black;
background-color: white;
display:inline;
font-size: 100px;
text-shadow: 0;
mix-blend-mode: overlay;
}


.footer-copyright{
text-align: center;
background-color: #808080;
color: white;
clear: both;

   bottom:0;
   width:100%;
}



/* about*/
#about{
	min-height: 650px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: absolute;
 float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
#contact{
background-color: green;
}
#about{
	background-color:blue;
overflow: hidden;
}
#service{
	background-color: red;
}




.aboutpage{
width: 600px;
height: 400px;
background-color: black;



   font-size: 20px;
    padding: 25px;
    margin: 25px;
    color: white;
top: 40px;
float: left;
position: relative;
}
#truck1{

width: 560px;
height: 350px;
float: right;
padding: 25px;
margin: 25px;

}
.champtitle{
top: 60px;
   width: 600px;
   height: 350px;
color: white;
background-color: black;
   position: relative;
text-align: center;
font-size: 25px;
margin-left:auto;
margin-right:auto;
margin-top:25px;

}

/** service **/
ul.b {
    list-style-type: square;
}
#trucks{
width: 500px;
height: 300px;
top: 50px;
position: relative;

margin : 43px;
}
.contacts{
width: 300px;
height: 200px;
top: 20px;
margin-left: 40px;
background-color: black;
color:white;
position: relative;